<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
    <!--blade::@include('app.head')-->
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
    <!--blade::@include('app.foot')-->
  </body>
</html>
